.tnp__profile_container_main{
   
    display: flex;
    width: 100%;
    gap: 30px;

}

.tnp__profile_container_left{
    width: 30%;
}

.tnp__profile_container_right{
    width: 70%;
}

.tnp__profile_container_left_profile{

    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 2px #c2ccd620;
    text-align: center;
    border-radius: 33px;
    background: #fff;
    box-shadow:  20px 20px 100px #d3d3d3,
                 -20px -20px 100px #ededed;

    
 
}

.tnp__profile_container_left_profile img{
    width: 50%;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.profile_fullname{
    margin-top: 20px;
}
.profile_email{
    color: #7b91b7;
}

.profile_icons .fa{
    color: #7b91b7;
    font-size: 20px;
    margin: 0px 10px;
}


.profile_skills{
    list-style-type: none;
 
}

.profile_skills li{
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}






.tnp__profile_container_right_information{
    
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 2px #c2ccd620;
    border-radius: 33px;
    background: #fff;
    box-shadow:  20px 20px 100px #e4e4e4,
                 -20px -20px 100px #ededed;
    
}

.profile_info{
    font-size: 20px;
    color: #7b91b7;
}